/*----------------- signup and login ------------------------*/
.signup-wrapper
{
    width: 100%;
    height: 100vh;
    background-color: #f5f7fb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-box
{
    width: 80%;
    height: 80vh;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.signup-left
{
    width: 50%;
    background-color: #7033FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-left-heading
{
    color: white;
    font-size: 25px;
}
.signup-left-para
{
    color: yellow;
    font-size: 15px;
}

.signup-right
{
    width: 50%;
    padding: 10px;
}

.form
{
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}


.form input
{
    padding: 10px;
    border: 1px solid #a5a5a5;
    border-radius: 10px;
    width: 80%;
    font-size: 15px;
    height: 45px;
}

select
{
    padding: 10px;
    border: 1px solid #a5a5a5;
    border-radius: 10px;
    width: 80%;
    font-size: 15px;
    height: 45px;
}

.form button
{
    background-color: #F65164;
    padding: 10px;
    color: white;
    width: 80%;
    border-radius: 10px;
    height: 45px;
    font-size: 15px;
    cursor: pointer;
}


.your-logo
{
   height: 100px; 
}
.link
{
    color: #7033FF;
    text-decoration: none;
    margin-top: 20px;
}



/* ----------------dashboard---------------- */
.dashboard-main-container
{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right,#8e78c1,rgb(219, 219, 223));
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-container
{
    width: 95%;
    height: 95vh;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.nav-container
{
    width: 20%;
    height: 95vh;
    background-color: #7033FF;
    padding: 10px;
}

.main-container
{
    width: 80%;
    height: 95vh;
    background-color:white;
}
.top-bar
{
    height: 80px;
    width: 100%;
    background-color: #F5F7FB;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    gap: 20px;
}

.logo-container
{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
}
.profile-logo
{
  width: 50px;
  height: 50px;
}

.profile-container
{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.profile-name
{
font-size: 18px;
}

.logout-btn
{
    background-color: #F65164;
    color: white;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.brand-container
{
    height: 100px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap: 10px;
}
.brand-logo
{
    width: 150px;
    height: 100px;  
    
    
    
}
.brand-name
{
    color: white;
    font-size: 14px;
}

.brand-slogan
{
    font-size: 12px;
    color: yellow;
    position: relative;
    top: -10px;
}

/* ---------------------menu------------- */

.menu-container
{
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
}

.menu-link
{
    color: white;
    text-decoration: none;
    font-size: 13px;
    padding: 15px;
    width: 90%;
    border-radius: 5px;
}

.menu-active-link
{
    color: white;
    text-decoration: none;
    font-size: 13px;
    padding: 15px;
    width: 90%;
    border-radius: 5px;
    background-color: rgba(26, 8, 63, 0.5);
}

.menu-link:hover
{
    background-color: rgba(26, 8, 63, 0.5);
    transition: 0.8s;
}

.fa-solid
{
    margin-right: 10px !important;
    
}
.contact-us
{
    position: absolute;
    bottom: 2vh;
    color: white;
    font-size: 13px;
    text-decoration: none;
}
.contact-us a {
  text-decoration: none;
  color: white;          
}

.contact-us a:hover {
  text-decoration: underline; 
  color: #ddd;                
}

/* -------------main container---------------- */
.outlet-area
{
    padding: 10px;
}


/* ------------courses--------------- */
.course-wrapper
{
    width: 100%;
    /* height: 80vh; */
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
}



.course-box
{
    width: 23%;
    height:25vh;
    background-color: #eee;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}
.course-box:hover
{
    box-shadow: 1px 1px 10px royalblue;
    transition: 0.5s;
}

.course-thumbnail
{
    width: 100%;
    height: 15vh;
   
}
.course-title
{
    font-size: 16px;
    text-transform: capitalize;
    text-align: center;
}

.course-price
{
    font-size: 13px;
    text-align: center;
}

/* --------------course-detail----------- */

.course-detail-main-wrapper
{
    background-color: #f8f8f8;
    height: 80vh;
    padding: 20px;
}

.course-detail-wrapper
{
    display: flex;
    flex-direction: row;
    gap: 5%;
    text-transform: capitalize;
    height: 30vh;
}
.course-detail-wrapper img
{
    border-radius: 10px;

}
.course-detail-thumbnail
{
    width: 300px;
    height: 25vh;
}

.studentlist-container{
    width: 100%;
    height: 50vh;
    background-color: white;
    overflow-y: auto;
    border-radius: 10px;
}
.student-fullName
{
    text-transform: capitalize;
}

.course-detail-text
{
    width: 30%;
    
}
.course-description-box
{
    width: 30%;
}



.course-description-container
{
    height: 18vh;
    overflow: auto;
    width: 100%;
    
}
table
{
    width: 100%;
    border-collapse: collapse;

}
.student-profile-pic
{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    box-shadow: 5px 5px 10px;
}
th,td
{
    text-align: left;
    padding: 10px;
    
}
th
{
    color: #F65164;
}
tr:hover
{
    background-color: #eee;
    cursor: pointer;
    transition: 0.8s;
}
.students-container
{
    height: 80vh;
    width: 100%;
    overflow: auto;
}

.primary-btn
{
    background-color: #7033FF;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.secondary-btn
{
    background-color: #F65164;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-container
{
    display: flex;
    gap: 10px;
}



/*------------------Student-detail-------------------*/

.student-detail-main-wrapper
{
    width: 100%;
    height: 80vh;
    /* background-color: red; */
    padding: 10px;
}

.student-detail-wrapper
{
    width: 100%;
    height: 37vh;
    /* background-color: green; */
}

.fee-detail-wrapper
{
    width: 100%;
    height: 36vh;
    background-color: #eee;
    overflow: auto;
    border-radius: 5px;
    padding: 10px;
}

.student-detail-header
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    /* background-color: aqua; */
}

.student-detail-btn-container
{
    width: 30%;
    display: flex;
    height: 5vh;
    gap: 2%;
    /* background-color: aqua; */
}
.sd-detail
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
}

.sd-detail img
{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px;
}
.sd-view-detail
{
    text-transform: capitalize;
}
.payment-history-title
{
    font-size: 20px;
    color: #7033FF;
    
}
.sd-fullName-payment-history
{
    text-transform: capitalize;
}

.payment-history-wrapper
{
    height: 80vh;
    width: 100%;
    overflow: auto;
}

/*-----------------Home-------------*/
.home-wrapper
{
    width: 100%;
    height: 80vh;
    padding: 10px;
    /* background-color: aqua; */
}
.count-box-wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2%;
}
.box
{
    width: 31%;
    height: 25vh;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.box1
{
    /* background: linear-gradient(to right,#2490cf,#b7a0ec); */
    background-color: #b7a0ec;
}

.box2
{
    /* background: linear-gradient(to right,#F65164,#b7a0ec); */
    background-color: #f68794;
}
.box3
{
    /* background: linear-gradient(to right,#afd5eb,#b7a0ec); */
    background-color: #a0ecd9;
}

.box p
{
    font-size: 15px;
    
}

.list-container
{
    width: 100%;
    height: 50vh;
    /* background-color: #0d8d42; */
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
}

.table-container
{
    width: 48%;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    font-size: 13px;
    overflow: auto;
    scrollbar-width: none;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}